<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="http://52.25.91.135:3080/">
                    TVMaze API Guide
                </a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/start">Getting Started</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/showInfo">API: Show Info</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/episodeList">API: Episode Listing</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/extra">API: I Want More!</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/pretty">Wrap Up: Final Result</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/conclude">Conclusion</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>

                    <div id="otherAPI">
                        <h1 id="titleOther">Conclusion</h1>
                    </div>
                    <div id="bodyAPI">
                        <h3>What We've Learned</h3>
                        <p>
                            You should now have a good grasp on how to use the TVMaze API. With this guide, you should be able to replicate the examples I have shown you and expand from there. For instance, you may try to request an image and display that to the user. With the tools you've learned, you should be able to complete this task.
                            <br><br>
                            You should also be able to approach any other API you've an interest in and understand how to go about using it. The steps I've illustrated in this guide are transferrable. Your biggest resource outside of this guide is the API documentation itself. Happy knowledge surfing!
                        </p>
                        <h3>Resources</h3>
                        <p>
                            <ul>
                                <li><a href="http://www.tvmaze.com/api">TVMaze API</a></li>
                                <li><a href="http://jsonlint.com/">JSONLint</a></li>
                                <li><a href="http://codepen.io/">CodePen</a></li>
                            </ul>
                        </p>
                        <h2 id="ending">Fin</h2>
                    </div>
                    <nav>
                      <ul class="pager">
                        <li class="previous"><a href="http://52.25.91.135:3080/pretty"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="next  disabled"><a href="http://52.25.91.135:3080/conclude">Next <span aria-hidden="true">&rarr;</span></a></li>
                      </ul>
                    </nav>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->