<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="http://52.25.91.135:3080/">
                    TVMaze API Guide
                </a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/start">Getting Started</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/showInfo">API: Show Info</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/episodeList">API: Episode Listing</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/extra">API: I Want More!</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/pretty">Wrap Up: Final Result</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/conclude">Conclusion</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>

                    <div id="titleAPI">
                        <h1 id="titleMain">How-To API</h1>
                    </div>
                    <div id="bodyAPI">
                        <h3>We will be using the TVMaze API in order to learn some basic calls. By the end of this guide, you will be able to make calls that return meaningful and useful inforamtion.</h3><br>
                        <h5>This is what we'll cover:</h5>
                        <ol>
                            <li>Setting up with an API</li>
                            <li>Retrieving a show's information</li>
                            <li>Getting a list of episodes</li>
                            <li>Making a multifuctional request</li>
                            <li>Going the extra mile</li>
                        </ol>
                    </div>
                    </div>
                    <nav>
                      <ul class="pager">
                        <li class="previous disabled"><a href="http://52.25.91.135:3080/"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="next"><a href="http://52.25.91.135:3080/start">Next <span aria-hidden="true">&rarr;</span></a></li>
                      </ul>
                    </nav>
                    <div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->