<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="http://52.25.91.135:3080/">
                    TVMaze API Guide
                </a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/start">Getting Started</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/showInfo">API: Show Info</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/episodeList">API: Episode Listing</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/extra">API: I Want More!</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/pretty">Wrap Up: Final Result</a>
            </li>
            <li>
                <a href="http://52.25.91.135:3080/conclude">Conclusion</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>

                    <div id="otherAPI">
                        <h1 id="titleOther">A Pretty Package</h1>
                    </div>
                    <div id="bodyAPI">
                        <form>
                          <fieldset>
                            <legend>Get a list of episodes for your favorite show</legend>
                            <label for ="showName">Favorite Show:
                                <input type = "text" name = "showName" id="showName">
                            </label>
                            <input type = "submit" id="submitShow">
                          </fieldset>


                        <h4>OR</h4>
                          <fieldset>
                            <legend>Find out what other shows your favorite actor is in</legend>
                            <label for ="showChar">Favorite Actor:
                                <input type = "text" name = "showChar" id="showChar">
                            </label>
                            <input type = "submit" id="submitChar">
                          </fieldset>
                        </form>
                        <script>
                            document.addEventListener('DOMContentLoaded', bindButtons);
                            document.addEventListener('DOMContentLoaded', personButtons);

                            function bindButtons(){
                                document.getElementById('submitShow').addEventListener('click', function(event){
                                var req = new XMLHttpRequest();
                                var show = document.getElementById('showName').value;
                                req.open('GET', 'http://api.tvmaze.com/singlesearch/shows?q=' + show + '&embed[]=episodes&embed[]=cast', true);
                                req.addEventListener('load', function(){
                                    if (req.status >= 200 && req.status < 400){
                                        var response = JSON.parse(req.responseText);
                                        console.log(response);

                                        function htmlToPlaintext(text) {
                                          return text ? String(text).replace(/<[^>]+>/gm, '') : '';
                                        }

                                        document.getElementById("shoName").textContent = response.name;
                                        document.getElementById("character").textContent = response._embedded.cast[0].character.name;
                                        document.getElementById('person').textContent = response._embedded.cast[0].person.name;
                                        document.getElementById('summary').textContent = htmlToPlaintext(response.summary);

                                        for(var i = document.getElementById("myTable").rows.length; i > 0;i--)
                                        {
                                            document.getElementById("myTable").deleteRow(i -1);
                                        }

                                        function addHeaders(){
                                            var table = document.getElementById("myTable");
                                            var header = table.createTHead();
                                            var row = header.insertRow(0);

                                            row.insertCell(0).innerHTML = "<h3>Episode List</h3>"

                                            var row = header.insertRow(1);

                                            row.insertCell(0).innerHTML = "<b>Season</b>";
                                            row.insertCell(1).innerHTML = "<b>Episode Number</b>";
                                            row.insertCell(2).innerHTML = "<b>Episode Name</b>";
                                            row.insertCell(3).innerHTML = "<b>Air Date</b>";
                                        }

                                        function addRow(m){
                                            var i = m;
                                            var col1 = response._embedded.episodes[i].season;
                                            var col2 = response._embedded.episodes[i].number;
                                            var col3 = response._embedded.episodes[i].name;
                                            var col4 = response._embedded.episodes[i].airdate;

                                            var table = document.getElementById("myTable");
                                            var rowCount = table.rows.length;
                                            var row = table.insertRow(rowCount);

                                            row.insertCell(0).innerHTML = col1;
                                            row.insertCell(1).innerHTML = col2;
                                            row.insertCell(2).innerHTML = col3;
                                            row.insertCell(3).innerHTML = col4;
                                            
                                        }

                                        var table = document.getElementById("myTable");
                                        table = addHeaders();

                                        for (var i = 0; i < response._embedded.episodes.length; i++){
                                            var table = document.getElementById("myTable");
                                            table = addRow(i);
                                        };
                                        
                                    } else {
                                        console.log("Error in network request: " + req.statusText);
                                    }
                                });
                                req.send(null);
                                event.preventDefault();
                                });
                            }



                            function personButtons(){
                                document.getElementById('submitChar').addEventListener('click', function(event){
                                var req = new XMLHttpRequest();
                                var character = document.getElementById('showChar').value;
                                req.open('GET', 'http://api.tvmaze.com/search/people?q=' + character, true);
                                req.addEventListener('load', function(){
                                    if (req.status >= 200 && req.status < 400){
                                        var response = JSON.parse(req.responseText);
                                        console.log(response);

                                        function htmlToPlaintext(text) {
                                          return text ? String(text).replace(/<[^>]+>/gm, '') : '';
                                        }

                                        document.getElementById("person").textContent = response[0].person.name;
                                        var actor = response[0].person.id;

                                        var request = new XMLHttpRequest();
                                        request.open('GET', 'http://api.tvmaze.com/people/' + actor + '/castcredits?&embed[]=show&embed[]=character', true);
                                        request.addEventListener('load', function(){
                                            if (request.status >= 200 && request.status < 400){
                                                var response = JSON.parse(request.responseText);
                                                console.log(response);

                                                function htmlToPlaintext(text) {
                                                  return text ? String(text).replace(/<[^>]+>/gm, '') : '';
                                                }

                                                for(var i = document.getElementById("myTable").rows.length; i > 0;i--)
                                                {
                                                    document.getElementById("myTable").deleteRow(i -1);
                                                }

                                                function addHeaders(){
                                                    var table = document.getElementById("myTable");
                                                    var header = table.createTHead();
                                                    var row = header.insertRow(0);

                                                    row.insertCell(0).innerHTML = "<h3>Show List</h3>"

                                                    var row = header.insertRow(1);

                                                    row.insertCell(0).innerHTML = "<b>Show</b>";
                                                    row.insertCell(1).innerHTML = "<b>Character</b>";
                                                    row.insertCell(2).innerHTML = "<b>Summary</b>";
                                                }

                                                function addRow(m){
                                                    var i = m;
                                                    var col1 = response[i]._embedded.show.name;
                                                    var col2 = response[i]._embedded.character.name;
                                                    var col3 = response[i]._embedded.show.summary;

                                                    var table = document.getElementById("myTable");
                                                    var rowCount = table.rows.length;
                                                    var row = table.insertRow(rowCount);

                                                    row.insertCell(0).innerHTML = col1;
                                                    row.insertCell(1).innerHTML = col2;
                                                    row.insertCell(2).innerHTML = htmlToPlaintext(col3);
                                                    
                                                }

                                                var table = document.getElementById("myTable");
                                                table = addHeaders();

                                                for (var i = 0; i < response.length; i++){
                                                    var table = document.getElementById("myTable");
                                                    table = addRow(i);
                                                };
                                                
                                            } else {
                                                console.log("Error in network request: " + request.statusText);
                                            }
                                        });
                                        request.send(null);


                                    } else {
                                        console.log("Error in network request: " + req.statusText);
                                    }

                                });
                                req.send(null);
                                event.preventDefault();
                                });}
                        </script>
                        <div>
                          <h3>Your Results:</h3>
                          <ul>
                            <li><span><b>Show Name: </b></span><span id="shoName"></span></li>
                            <li><span><b>Main Character: </b></span><span id="character"></span></li>
                            <li><span><b>Actor Name: </b></span><span id="person"></span></li>
                            <li><span><b>Description: </b></span><span id="summary"></span></li>
                          </ul>
                        </div>
                        <div>
                          <table style="width:100%" id="myTable" border="1">
                            <tbody>
                              <tr>

                              </tr>
                            </tbody>
                            
                          </table>
                        </div>
                        
                    </div>
                    <nav>
                      <ul class="pager">
                        <li class="previous"><a href="http://52.25.91.135:3080/extra"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="next"><a href="http://52.25.91.135:3080/conclude">Next <span aria-hidden="true">&rarr;</span></a></li>
                      </ul>
                    </nav>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->