<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="http://localhost:3000/">
                    TVMaze API Guide
                </a>
            </li>
            <li>
                <a href="http://localhost:3000/start">Getting Started</a>
            </li>
            <li>
                <a href="#">API: Show Info</a>
            </li>
            <li>
                <a href="#">API: Episode Listing</a>
            </li>
            <li>
                <a href="#">API: Do It All At Once</a>
            </li>
            <li>
                <a href="#">API: I Want More!</a>
            </li>
            <li>
                <a href="#">Wrap Up</a>
            </li>
            <li>
                <a href="#">Resources</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>

                    <div id="titleAPI">
                        <h1 id="titleMain">How-To API</h1>
                    </div>
                    <div id="bodyAPI">
                        <h3 class=summary>We will be using the TVMaze API in order to learn some basic calls. By the end of this guide, you will be able to make calls that return meanigful and useful inforamtion.</h3>
                        <h4>This is what we'll cover:</h4>
                        <ul>
                            <li>Retrieving a specific shows information from a form</li>
                            <li>Getting a list of episodes</li>
                            <li>Making a multifuctional request</li>
                            <li>Going the extra mile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->